@charset "UTF-8";

body{
    background-color: rgb(63, 63, 63);
    font-family: november;
    color: white;
}
div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
a{
    color: white;
    text-align: center;
}