body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #242424;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 80px #ffffff55;
    width: 90%;
    max-width: 500px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

#resultado {
    margin-top: 20px;
}
