@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif
}

div.centralizado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
div#addLivro, #verLivros {
    font-size: 20px;
    background-color:lightskyblue;
    padding: 3px;
    border-radius: 10px;
    margin: 10px;
}
div#addLivro>a, #verLivros>a {
    text-decoration: none;
    color: black;
}
