@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);

:root {
    /* background colors */
    --background-color-1: #242424;
    --background-color-2: #4a4a4a;



    /* cores de texto */
    --font-color-1: #ffffff;
    --font-color-2: #dddddd;

    /* cores para hover */
    --hover-blue: #6b85b1;

    /* cores para borda */
    --border-color-1: #636363;
}