@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient( to right, #348888, #22BABB, #9EF8EE);
}

main {
    background-color: white;
    width: 700px;
    padding: 30px;
    margin: auto;
    border-radius: 15px;
}

h1{
    color: #F24405;
    text-align: center;
}

P {
    text-align: justify;
}