body {
    background-color: aquamarine;
    text-align: center;
}

header {
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
section {
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
main {
    background-color: white;
    border-radius: 10px;
    text-align: center;
}